<%- include('partials/all.ejs') %> 
<div class="container">
    <div class="card">
        <div class="card-body">
        <form action="/npc" enctype='multipart/form-data' method="post">
            <div class="mb-3">
                <label class="form-label">Tipo</label>
                <input type="text" class="form-control" placeholder="Tipo" name="type">
              </div>
              <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" placeholder="Nome" name="name">
              </div>
              <div class="mb-3">
                <label class="form-label">Link da wiki oficial</label>
                <input type="text" class="form-control" placeholder="link" name="link">
              </div>
              <div class="mb-3">
                <label class="form-label" >Descrição</label>
                <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="submit"  class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    </div>
<%- include('partials/footer.ejs') %> 