<%- include('partials/all.ejs') %>
  <div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1>Participantes</h1>
            <hr>
            <p>Matrícula: 202202771384</p>
            <p>Nome: Jose Igor Tavares Veras</p>
            <hr>
            <p>Matrícula: 202101275667</p>
            <p>Nome: Pedro Lucas Gomes Miranda</p>
            <hr>
            <p>Matrícula: 202202931501</p>
            <p>Nome: Gustavo Demitrhy Cordeiro Teles </p>
            <hr>
        </div>
      </div>
    <hr>
    
  </div>
  <%- include('partials/footer.ejs') %>